@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.centrado {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nav {
  width: 250px;
  height: 100%;
  position: fixed;
  justify-content: space-around;
  background-color: #000000;
  color: #e7e9ea;
  font-family: "Amatic SC", cursive;
}
.nav .centrado {
  justify-content: center;
  align-items: center;
}

.nav-datos {
  border-bottom: 1px solid #e7e9ea;
}

.nav-links a {
  margin-top: 30px;
  padding-left: 10px;
  text-decoration: none;
  border-bottom: 1px solid #e7e9ea;
  color: #e7e9ea;
  font-size: 22px;
  transition-duration: 0.8s;
}

.nav-links a:hover {
  transform: translateY(5px);
  color: #ad7e94;
  border-bottom: 1px solid #ad7e94;
}

.nav-social {
  margin: 30px;
}
.nav-social a {
  text-decoration: none;
  margin: 10px;
  color: #e7e9ea;
  font-size: 35px;
}

.nav-social a:hover {
  color: #ad7e94;
  transition-duration: 0.8s;
}

.nav-contenedor {
  margin: 15px;
}
.nav-contenedor .nombre-pequenio,
.nav-contenedor .profesion-pequenio {
  margin: 16px;
  font-size: 25px;
}

.seccion-principal {
  background-image: url(./img/programming-wallpaper.jpg);
  background-repeat: round;
  min-height: 100vh;
  margin-left: 250px;
  color: #e7e9ea;
  justify-content: space-between;
}

.modo-idioma div {
  margin-top: 10px;
  width: 70px;
}
.modo-idioma div .fa-language {
  font-size: 30px;
  color: #ad7e94;
}

#checkbox {
  display: none;
}

.toggler {
  display: block;
  width: 60px;
  height: 31px;
  border: 2px solid #ad7e94;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.bolilla,
.fa-moon,
.fa-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bolilla {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ad7e94;
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}

.fa-moon {
  left: 5px;
}

.fa-sun {
  right: 5px;
}

#checkbox:checked + .bolilla {
  transform: translate(29px, -50%);
}

.presentacion-inicial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 160px;
}
.presentacion-inicial h3 {
  font-size: 25px;
  font-family: "BIZ UDMincho", serif;
}
.presentacion-inicial h1 {
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  color: #ad7e94;
}
.presentacion-inicial a {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #e7e9ea;
  border-radius: 20px;
  width: 130px;
  background-color: #e7e9ea;
  color: #000000;
  font-family: "BIZ UDMincho", serif;
  text-align: center;
  transition-duration: 0.8s;
}

.presentacion-inicial a:hover {
  background-color: #ad7e94;
  cursor: pointer;
}

.redes {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
  font-size: 3git 5px;
}

.linkedin {
  animation-delay: 1s;
}

.mail {
  animation-delay: 1.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.animacion div .fa-arrow-down {
  margin: 20px;
  font-size: 30px;
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}

.animacion-gatito {
  margin-right: 20px;
  margin-bottom: 20px;
}

.zzz {
  animation-name: zzz;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  color: #ad7e94;
  position: absolute;
  z-index: 100;
  transform: translateY(100%);
  font-family: "Concert One", cursive;
}

.zzz-z {
  animation-delay: 0s;
  right: 60px;
}

.zzz-zz {
  animation-delay: 0.5s;
  right: 38px;
}

.zzz-zzz {
  animation-delay: 1s;
  right: 30px;
}

@-webkit-keyframes zzz {
  0% {
    color: rgba(160, 84, 246, 0);
    font-size: 30px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    color: #ad7e94;
    font-size: 72px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes zzz {
  0% {
    color: rgba(160, 84, 246, 0);
    font-size: 30px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    color: #ad7e94;
    font-size: 72px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
section {
  background-color: #070707;
  color: #e7e9ea;
}

.sections {
  width: 700px;
  margin-left: 252px;
  font-family: "Amatic SC", cursive;
}

.sections div h2 {
  padding: 20px;
  font-size: 45px;
}

.contenedor-proyectos {
  width: 660px;
}
.contenedor-proyectos div img {
  width: 100%;
  height: 180px;
}
.contenedor-proyectos div p {
  text-align: center;
}

.contenedor-proyecto {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.contenedor-proyecto img {
  transition: 1.5s;
}

.contenedor-proyecto img:hover {
  transform: translateY(-10px);
}

.footer {
  display: none;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }

  .seccion-principal {
    margin: 0;
  }

  .sections {
    width: 95%;
    margin-left: 0;
  }

  .contenedor-proyectos {
    width: 510px;
    justify-content: center;
    align-items: center;
  }
  .contenedor-proyectos a {
    text-decoration: none;
    color: #e7e9ea;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 120px;
  }
  .footer div a {
    color: #e7e9ea;
    margin: 15px;
    font-size: 35px;
  }

  .footer div a:hover {
    color: #ad7e94;
    cursor: pointer;
    transition-duration: 0.8s;
  }
}
@media (max-width: 750px) {
  .presentacion-inicial {
    margin-left: 20px;
    padding: 20px;
  }
  .presentacion-inicial h1 {
    font-size: 60px;
  }
  .presentacion-inicial h3 {
    font-size: 20px;
  }
  .presentacion-inicial a {
    padding: 8px;
    width: 100px;
    font-size: 16px;
  }
}
@media (max-width: 510px) {
  .contenedor-proyectos {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
