@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.centrado {
  justify-content: center;
  align-items: center;
}

.nav {
  width: 250px;
  height: 100%;
  position: fixed;
  justify-content: space-around;
  background-color: #000000;
  color: #e7e9ea;
  font-family: "Amatic SC", cursive;
}
.nav .centrado {
  justify-content: center;
  align-items: center;
}

.nav-datos {
  border-bottom: 1px solid #e7e9ea;
}

.nav-links a {
  margin-top: 30px;
  padding-left: 10px;
  text-decoration: none;
  border-bottom: 1px solid #e7e9ea;
  color: #e7e9ea;
  transition-duration: 0.8s;
}

.nav-links a:hover {
  transform: translateY(5px);
  color: #ad7e94;
  border-bottom: 1px solid #ad7e94;
}

.nav-social {
  margin: 30px;
}
.nav-social a {
  text-decoration: none;
  margin: 10px;
  color: #e7e9ea;
}

.nav-social a:hover {
  color: #ad7e94;
  transition-duration: 0.8s;
}

.nav-contenedor {
  margin: 15px;
}
.nav-contenedor .nombre-pequenio,
.nav-contenedor .profesion-pequenio {
  margin: 16px;
  font-size: 25px;
}

.seccion-principal {
  background-image: url(./img/programming-wallpaper.jpg);
  background-repeat: round;
  min-height: 100vh;
  margin-left: 250px;
  color: #e7e9ea;
  justify-content: space-between;
}

.modo-idioma div {
  margin-top: 10px;
  width: 70px;
}
.modo-idioma div .fa-language {
  font-size: 30px;
  color: #ad7e94;
}

#checkbox {
  display: none;
}

.toggler {
  display: block;
  width: 60px;
  height: 31px;
  border: 2px solid #ad7e94;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.bolilla,
.fa-moon,
.fa-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bolilla {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ad7e94;
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}

.fa-moon {
  left: 5px;
}

.fa-sun {
  right: 5px;
}

#checkbox:checked + .bolilla {
  transform: translate(29px, -50%);
}

.presentacion-inicial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 160px;
}
.presentacion-inicial h3 {
  font-size: 25px;
  font-family: "BIZ UDMincho", serif;
}
.presentacion-inicial h1 {
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  color: #ad7e94;
}
.presentacion-inicial a {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #e7e9ea;
  border-radius: 20px;
  width: 130px;
  background-color: #e7e9ea;
  color: #000000;
  font-family: "BIZ UDMincho", serif;
  text-align: center;
  transition-duration: 0.8s;
}

.presentacion-inicial a:hover {
  background-color: #ad7e94;
  cursor: pointer;
}

.redes {
  display: inline-block;
  animation: float 5s ease-in-out infinite;
  font-size: 25px;
}

.linkedin {
  animation-delay: 1s;
}

.mail {
  animation-delay: 1.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.animacion div .fa-arrow-down {
  margin: 20px;
  font-size: 30px;
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }

  .seccion-principal {
    margin: 0;
  }
}
@media (max-width: 750px) {
  .presentacion-inicial {
    margin-left: 20px;
    padding: 20px;
  }
  .presentacion-inicial h1 {
    font-size: 60px;
  }
  .presentacion-inicial h3 {
    font-size: 20px;
  }
  .presentacion-inicial a {
    padding: 8px;
    width: 100px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
